CAPITAL_API_KEY=your_api_key_here
CAPITAL_LOGIN_ID=your_login_id_here
CAPITAL_PASSWORD=your_password_here

# API Endpoints
CAPITAL_REST_URL=https://demo-api-capital.backend-capital.com
CAPITAL_STREAM_HOST=api-streaming-capital.backend-capital.com

# REDIS
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_PASSWORD=your_redis_password_here

# POSTGRES
POSTGRES_HOST=your_postgres_host_here
POSTGRES_PORT=your_postgres_port_here
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=trading_db

# MANAGEMENT TOOLS
PORTAINER_PASSWORD_HASH=your_portainer_password_hash_here

# ALERT EMAIL
ALERT_EMAIL=your_email_here
SMTP_USER=your_smtp_user_email
SMTP_PASS=your_smtp_password